* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 2000px;
  overflow-x: hidden;
  height: 4000px;
  color: #33475B;
}

h3 {
  font-size: 1.5em;
  padding-bottom: 25px;
}

h4 {
  text-transform: uppercase;
  padding: 30px 0;
}

h5 {
  font-size: 32px;
  padding: 10px 0;
  font-weight: 700;
}

p {
  font-size: 14.5px;
  line-height: 2;
  font-weight: 400;
}

.p_btn {
  padding: 20px 35px;
}

li {
  list-style: none;
  padding: 0 15px 0 0;
  text-transform: capitalize;
  font-size: 14.5px;
}

/* utillity */
.bg_light {
  background: #F4F9FD;
}

.bg_icon {
  color: #00A4BD;
}

.btn_orange {
  background: #FE775A;
  border-radius: 6px;
  color: white;
  border: 1px solid #FE775A;
}

.bg_orange:hover {
  background: #ffbcac;
  border: 1px solid #ffbcac;
}
.icon_li{
  color: #FE775A;
  padding-right: 10px;
  }

.color_text {
  color: #33475B;
}

.color_link:hover {
  color: #007a8c;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #33475B;
  padding: 5px
}

.container {
  width: 80%;
  margin: auto;
}


.header {
  height: 820px;
}

#services{
  height: 1300px
}
.float_left {
  float: left;
}

.menu_left {
  width: 30%;
}

.menu_left a, .menu_right a {
  padding: 10px;
}

.menu_right {
  width: 80%;
  text-align: right;
}

#navtop {
  height: 80px;
}

.logo {
  width: 20%;
  margin-top: 7px;
}

#navbottom {
  height: 50px;
  margin-top: 15px
}

.submenu_left {
  width: 20%
}

.submenu_right {
  width: 60%;
  text-align: right;
}

.navmain {
  height: 690px;
  background-image: url(../img/jumbotron.png);
  background-color: #FFF4EF;
  background-size: 81% 103%;
  background-repeat: no-repeat;
  background-position: 100% 110%;
  border-bottom: 2px solid #33475b;
  position: relative;
}

.image {
  height: calc(570px - 100px);
}

.nav_text {
  left: 10%;
  width: 20%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav_text h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 40px;
}

.nav_text p {
  margin-bottom: 50px;
}

.border {
  position: absolute;
  content: "";
  display: block;
  background: #afebe4;
  height: 87.2px;
  width: 100%;
  border-top: 3px solid #33475b;
  bottom: 0
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col_1 {
  width: 100%;
  height: 450px;
  position: relative;
}

.square {
  width: 50%;
  position: absolute;
  top: 10%;
  left: 25%;
  text-align: center;
  line-height: 165%;
}

.square .integrations {
  height: 200px
}

.col_2::after {
  content: "";
  display: table;
  clear: both;
}

.col_2 {
  border-radius: 6px;
  box-shadow: 0 0 10px #E6ECF1;
  background: white;
  padding: 60px 0;
  transform: translate(30%,-50px);
  width: 60%
}

.col_left {
  width: 30%;
  padding: 10px;
}

.libro {
  width: 52%;
  transform: translate(87%, -35%);
}

.col_left a {
  transform: translateY(-15px);
}

.col_right {
  width: 70%;
  padding-left: 20px;
  padding-right: 81px;
}

.col_right li {
  display: inline-block;
}

#hr_inline {
  transform: translate(214px, -41px);
  width: 50%;
  border: 1px solid grey;
}


.col_3{
  width: 18%;
  background: #F4F9FD;
  margin-left: 2%;
  margin-right: 1%;
  transform: translate(326px, 10px);

}
.card{
  text-align: center;
}
.text_left{
  text-align: left;
}
.text_left li{
  margin-left: 10px
}


.col_3 > .card{
  background: white;
  height: 500px
}
.btn_learn_more{
  display: inline-block;
  margin-top: 10px;
}

.card hr{
  width: 60%;
  border: 1px solid grey;
  transform: translate(85px, 10px);
}
.marketing{
    width: 25%;
  }
.sales_hub{
    width: 35%;
  }
.service_hub{
    width: 30%;
