* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-width: 1400px;
  overflow-x: hidden;
}
.container{
  width: 80%;
  margin: auto;
}
.header{
  height: 650px;
  background-color: rgb(255, 244, 239);
}
.menu_left, .menu_right {
  float: left;
  }
.menu_left {
  width: 55%;
}
.menu_left a, .menu_right a {
  padding: 10px;
}

.menu_right {
  width: 30%;
  text-align: right;
}
.navtop{
  height: 50px;
  background: white;
}
.navbottom{
  height: 50px;
  background: white;
}

.bg_orange{
  background-color: orange
}
.bg_white{
  background: white
}
.navmain{
  height: 570px;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 110% 110%;
  border-bottom: 2px solid black;
}
.image {
  position: relative;
  height: calc(570px - 100px);

}
.nav_text{
  width: 30%;
  color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.nav_text h1{
font-size: 3em;
font-weight: 500;
margin-bottom: 40px;
}
.nav_text p{
  margin-bottom: 20px;


}
.button_login{
  display: inline;
  color: orange;
  text-transform: uppercase;
  text-decoration: none;

  padding: 20px 10px;
  border: 1px solid orange

}
.btn_sm {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  padding: 20px 10px;
}
.main {
  height: 1250px;
  margin: auto;
}
.row_::after{
  content: "";
  display: table;
  clear: both;
}
.col_1{
  float: left;
  height: 50px;
  background: blue

}

.col_2{
  width: 100%;
  height: 250px;
  background-color: orange;

}
.col_3{
  width: 100%;
  height: 250px;
  background-color: purple;
  text-align: center;
}
.col_4{
  float: left;
 width: 33.33%;
 background-color: brown;
 height: 500px;
 border: 1px solid black
}
.col_5{
  height: 500px;
  width: 100%;
  background: green;
}
.col_6, {
  width: 100%;
  height: 250px;
  background-color: yellow;
  }
  .col_7{
  width: 100%;
  height: 250px;
  background: gold
  }

.footer{
  height: 250px;
  margin: auto;
}
.col_8{
  height: 250px;
  float: left;
  width: 25%;
  background: blue;
  border: 1px solid black
}
.col_9{
  float: left;
  height: 250px;
  width: 50%;
  background: darkblue;
  border: 1px solid black

}
