* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #33475B;
  min-width: 1400px
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
#community {
  background: -webkit-linear-gradient(left, rgba(0, 165, 188, 1) 0%, rgba(0, 188, 166, 1) 100%, rgba(0, 165, 188, 1) 100%);
  background: -o-linear-gradient(left, rgba(0, 165, 188, 1) 0%, rgba(0, 188, 166, 1) 100%, rgba(0, 165, 188, 1) 100%);
  background: linear-gradient(to right, rgba(0, 165, 188, 1) 0%, rgba(0, 188, 166, 1) 100%, rgba(0, 165, 188, 1) 100%);
  color: white;
}

h2 {
  font-size: 32px
}

h3 {
  font-size: 1.5em;
  padding-bottom: 25px;
}

h4 {
  text-transform: uppercase;
  padding: 15px 0;
}

h5 {
  font-size: 18px;
  padding: 10px 0;
  font-weight: 700;
}

p {
  font-size: 13.5px;
  line-height: 2;
  font-weight: 400;
}

.p_btn {
  padding: 20px 35px;
}

li {
  list-style: none;
  padding: 0 15px 0 0;
  text-transform: capitalize;
  font-size: 14.5px;
}

/* utillity */
.bg_light {
  background: #F4F9FD;
}

.bg_icon {
  color: #00A4BD;
}

.btn_orange {
  background: #FE775A;
  border-radius: 6px;
  color: white;
  border: 1px solid #FE775A;
}

.bg_orange:hover {
  background: #ffbcac;
  border: 1px solid #ffbcac;
}

.icon_li {
  color: #FE775A;
  padding-right: 10px;
}

.color_text {
  color: #33475B;
}

.color_link:hover {
  color: #007a8c;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #33475B;
  padding: 5px
}

.container {
  width: 80%;
  margin: auto;
}

.container {
  content: "";
  display: table;
  clear: both;
}


.float_left {
  float: left;
}
.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
.navtop {
  width: 100%;
  min-width: 900px;
  background-color: #F4F9FD;
  border: 1px solid black;
  padding: 0.7%;
}

.menu_left {
  margin-left: 9%;
}

.menu_left a, .menu_right a {
  padding: 10px;
}

.menu_right {
  width: 56%;
  text-align: right;
}


.logo {
  width: 20%;
  margin-top: 7px;
}

.button_login {
  color: #FE775A;
  border: 1px solid #FE775A;
  background: white;
}

.navbottom {
  height: 50px;
  margin-top: 15px
}

.submenu_left {
  width: 20%;
  margin-top: 4%;
}

.submenu_right {
  width: 60%;
  text-align: right;
  margin-top: 4%;
}

.navmain {
  height: 690px;
  background-image: url(../img/jumbotron.png);
  background-color: #FFF4EF;
  background-size: 81% 103%;
  background-repeat: no-repeat;
  background-position: 100% 110%;
  border-bottom: 2px solid #33475b;
  position: relative;
}

.image {
  height: calc(570px - 100px);
}

.nav_text {
  left: 10%;
  width: 23%;
  position: absolute;
  top: 50%;
  transform: translateY(-75%);
}

.nav_text h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 40px;
}

.nav_text p {
  margin-bottom: 50px;
}

.border {
  position: absolute;
  content: "";
  display: block;
  background: #afebe4;
  height: 87.2px;
  width: 100%;
  border-top: 3px solid #33475b;
  bottom: 0
}


.col_1 {
  width: 100%;
  height: 450px;
  position: relative;
}

.square {
  width: 50%;
  position: absolute;
  top: 10%;
  left: 25%;
  text-align: center;
}

.square .integrations {
  height: 200px
}

.col_2::after {
  content: "";
  display: table;
  clear: both;
}

.col_2 {
  border-radius: 6px;
  box-shadow: 0 0 10px #E6ECF1;
  background: white;
  padding: 60px 0;
  transform: translate(30%, -50px);
  width: 60%
}

.col_left {
  width: 36%;
  padding: 10px;
}

.libro {
  width: 46%;
  transform: translate(100%, -37%);
  margin-bottom: 25px;
}
}

.col_left a {
  transform: translateY(-15px);
}

.col_right {
  width: 60%;
  padding-left: 40px;
  padding-right: 30px;
}

.col_right li {
  display: inline-block;
}

#hr_inline {
  transform: translate(214px, -41px);
  width: 50%;
  border: 1px solid grey;
}

.col_3 {
  width: 19%;
  background: #F4F9FD;
  margin-left: 1%;
  margin-right: 1%;
  transform: translate(87%, -4%);
  padding: 10px;
}
}

.text_center {
  text-align: center;
}

.text_left {
  text-align: left;
  margin-bottom: 1%;
}

.text_left li {
  margin-left: 10px
}

.col_3>.card {
  background: white;
  height: 550px;
  padding: 16%;
  text-align: center;
}

.btn_learn_more {
  display: inline-block;
  margin-top: 11%;
}

.card hr {
  width: 91%;
  border: 1px solid grey;
  transform: translate(4%, 10px);
}

.marketing {
  width: 25%;
}

.sales_hub {
  width: 35%;
}

.service_hub {
  width: 30%;
  margin: 0 10
}


.learn_and_growth {
  width: 100%;
  padding: 1%
}

.learn_and_growth {
  text-align: center;
}

.col_4 {
  width: 15%;
  transform: translate(112%, 1%);
  padding: 1%;
  padding-left: 6%;
}

.col_4 h5 {
  font-size: 40px
}

.border_bottom {
  border-bottom: 1px solid white
}

.border_right {
  border-right: 1px solid white
}

.text_customers {
  width: 50%;
  transform: translate(42%, 10px);
  margin-top: 1%;
}

.text_customers p {
  width: 19%;
}

.logo_customers {
  width: 50%
}

.logo_row {
  margin-bottom: 1%
}

.g2 {
  transform: translate(1%, 15%);
}

.purple {
  transform: translate(1%, 15%);
}

.wistia {
  transform: translate(0%, -35%);
}

.vmware {
  transform: translate(1%, -25%);
}

.img_logo {
  width: 15%;
  padding: 1%
}

.img_logobig {}

.text_growth {
  width: 19%;
  margin-left: 21%;
  margin-top: 1%;
}

.text_growth p {
  margin-bottom: 10%;
  margin-top: 14%;
}

.image_growth {
  margin-left: 27%
}

.woman {
  width: 50%
}

/* footer */
#footer {
  padding: 30px 0;
  background: #32495B;
  color: white;
}

.footer {
  color: white;
}

.link a, .social a {
  color: white
}

.col_5 {
  margin-left: 11%;
  transform: translate(100%, 10px);
}

.btn_support {
  font-size: 13.5px;
  background: white;
  padding: 10px;
  margin: 20px 0;
  border-radius: 6px;
  border: 1px solid white;
  display: inline-block;
}

.col_6 {
  width: 50%;
  margin-bottom: 1%;
  margin-left: 39%;
}

.col_6 a {
  color: white;
  padding: 2%
}

.footer_hr {
  width: 73%;
  margin-left: 15%;
  margin-bottom: 1%
}
}

.col_7 {
  margin-top: 1%;
  width: ;
  margin-left: 5%;
  color: white;
}

.col_7 a {
  color: white;
}

.logo_footer {
  color: white;
  background-color: white
}

.footer_right {
  width: 10%
}

.footer_left {
  width: 56%;
  margin-left: 18%;
}
